// application variables, generally should be declaeed before mosaic is included
$default-font-family: Helvetica, Arial, sans-serif !default;
// load font-awesome fonts directly from mosaic module
$fa-font-path: '/mosaic/components/font-awesome/fonts' !default;

$glyph-font-family: 'FontAwesome' !default;
$glyph-font-size: 1.4em !default;

$content-font-size: 1.4em !default;
$content-font-family: $default-font-family !default;

$heading-font-family: $default-font-family !default;
$heading-font-base-size: 2em !default;

$error-colour: red !default;
$warning-colour: orange !default;

$widget-padding: 1em !default;
$nav-background: #036 !default;
$nav-color: #fff !default;

// mosaic variables

$body-min-height: 400px !default;

$fieldset-width: 100% !default;

$field-container-width: 100% !default;
$field-container-spacing: 0 0 1em !default;

$overlay-background: rgba(0,0,0,0.25) !default;

$label-spacing-right: 1em !default;
$label-width: 30% !default;
$label-color: #000 !default;
$label-font-size: 1.3em !default;

$editable-font-size: $content-font-size !default;
$element-width: 60% !default;

$input-element-width: $element-width !default;
$textarea-element-width: $element-width !default;
$select-element-width: $element-width !default;

$button-transition-speed: 0.5s !default;

$input-border-radius: 2px !default;

$disabled-element-border: none !default;
$disabled-element-width: $element-width !default;

$editable-border: 1px solid #D9D9D9 !default;
$editable-padding-top: 0.2em !default;
$editable-padding-bottom: 0.2em !default;
$editable-padding-left: 0.4em !default;
$editable-padding-right: 0.4em !default;
$editable-padding: $editable-padding-top $editable-padding-right $editable-padding-bottom $editable-padding-left !default;

/* Clickable Elements */
$clickable-transition-speed: 0.3s !default;
$clickable-border-radius: 0px !default;
$clickable-border: 1px solid transparent !default;
$clickable-background: #E18800 !default;
$clickable-font-size: 1.4em !default;

$clickable-padding-top: 0.5em !default;
$clickable-padding-bottom: 0.5em !default;
$clickable-padding-left: 1em !default;
$clickable-padding-right: 1em !default;
// $clickable-padding: $clickable-padding-top $clickable-padding-right $clickable-padding-bottom $clickable-padding-left !default;

// done by line-height, min-width and text-align
$clickable-padding: 0 !default;
