form {
	/* Button & submit*/

	margin: 0 auto;

	fieldset {
		border: none;
		margin: 1em 0;
		max-width: $fieldset-width;
	}

	fieldset > div:last-of-type {
		// remove bottom margin from last field
		margin-bottom: 0;

		// remove from composite fields too
		.field:last-of-type {
			margin-bottom: 0;
		}
	}

	.nolabel {
		div.checkbox{
			max-width: $input-element-width;
			float: left;
		}
	}
	.field {
		margin: $field-container-spacing;
		width: $field-container-width;
		clear: both;
	}
	&.editable {
		// if the form is editable then hide the dl's and show the fields
		dl.field {
			display: none;
		}
		div.field {
			display: block;
		}
	}
	&.readonly {
		// if the form is readonly then hide the fields and show.dls

		dl.field {
			display: block;
		}
		div.field {
			display: none;
		}
	}

	label {
		white-space: nowrap;
		overflow: visible;
		display: inline-block;
		float: left;
		margin-right: $label-spacing-right;
		min-width: $label-width;
		color: $label-color;
		font-size: 1em;
		line-height: 1.2em;
	}
	// editable elements
	input[type=text],
	input[type=tel],
	input[type=password],
	input[type=email],
	input[type=url],
	input[type=date],
	input[type=number],
	textarea,
	select
	{
		padding: $editable-element-padding;
		float: left;
		border: $element-border;
		max-width: $input-element-width;
		width: 100%;
		outline: medium none;
		resize: none;
		appearance: none;
		display: inline-block;
		cursor: pointer;
		transition: border-color $button-transition-speed;

		-webkit-transition: border-color $button-transition-speed;

		-o-box-sizing: border-box;
		box-sizing: border-box;

		-webkit-appearance: none;
		-moz-appearance: none;

		&[disabled] {
			cursor: default;
			border: $disabled-element-border;
			max-width: $disabled-element-width;
		}
	}
	textarea {
		max-width: $textarea-element-width;
	}
	select {
		max-width: $select-element-width;
		padding: $editable-element-padding;
		padding-left: 0;

		option {
			padding: 0;
			-moz-padding-start: 0;
			-moz-padding-end: 0;
		}
	}

	.checkbox {
		cursor: pointer;
		input {
			float: right;
		}
		label {
			float: left;
			cursor: pointer;
		}
	}


	// clickable elements
	input[type=button],
	input[type=submit],
	button
	{
		cursor: pointer;
		border: none;
		border-radius: $button-border-radius;
		padding: $clickable-element-padding;
	}

	.CompositeField {
		margin: $field-container-spacing;
		clear: both;
	}

	.action-buttons {
		max-width: $fieldset-width;
		text-align: right;
	}

	.select2field{
		cursor: pointer;
		text-align: left;
		display: inline-block;
		float: left;
		width: 100%;
		max-width: $select-element-width;
	}

	.confirmedpassword {
		margin-bottom: 0;
	}
}




