article form {
	font-size: 0.7em;
}
form {
	margin: 0 auto;
	font-size: 1em;

	fieldset {
		border: none;
		margin: 1em 0;
		max-width: $fieldset-width;
	}

	fieldset > div:last-of-type {
		// remove bottom margin from last field
		margin-bottom: 0;

		// remove from composite fields too
		.field:last-of-type {
			margin-bottom: 0;
		}
	}
	.error {
		color: $error-colour!important;
	}
	.warning {
		color: $warning-colour!important;
	}

	.nolabel {
		div.checkbox{
			max-width: $input-element-width;
			float: left;
		}
	}
	.field {
		margin: $field-container-spacing;
		width: $field-container-width;
		clear: both;
		position: relative;

		label
		, dt
		{
			@include field-label;
		}
	}
	&.editable {
		// if the form is editable then hide the dl's and show the fields
		dl.field {
			display: none;
		}
		div.field {
			display: block;

			&.hidden {
				display: none;
			}
		}
	}
	&.readonly {
		// if the form is readonly then hide the fields and show.dls

		dl.field {
			display: block;
		}
		div.field {
			display: none;
		}
	}

	// editable elements
	input[type=text],
	input[type=tel],
	input[type=password],
	input[type=email],
	input[type=url],
	input[type=date],
	input[type=number],
	textarea,
	select
	{
		padding: $editable-padding;
		float: left;
		border: $editable-border;
		max-width: $input-element-width;
		width: 100%;
		outline: medium none;
		resize: none;
		appearance: none;
		display: inline-block;
		cursor: pointer;
		transition: border-color $button-transition-speed;
		font-size: $editable-font-size;

		-webkit-transition: border-color $button-transition-speed;

		-o-box-sizing: border-box;
		box-sizing: border-box;

		-webkit-appearance: none;
		-moz-appearance: none;

		&[disabled] {
			cursor: default;
			border: $disabled-element-border;
			max-width: $disabled-element-width;
		}
	}
	textarea {
		max-width: $textarea-element-width;
		font-size: $editable-font-size;
		font-family: $content-font-family;
	}
	select {
		max-width: $select-element-width;
		padding-left: 0;

		option {
			padding: 0;
			-moz-padding-start: 0;
			-moz-padding-end: 0;
		}
	}

	.checkbox {
		cursor: pointer;
		input {
			float: right;
		}
		label {
			float: left;
			cursor: pointer;
			font-size: 1em;
		}
	}


	// clickable elements
	input[type=button],
	input[type=submit],
	input[type=file],
	button
	{
		@include clickable
	}

	.CompositeField {
		margin: $field-container-spacing;
		clear: both;
	}

	.action-buttons {
		max-width: $fieldset-width;
		text-align: right;
	}

	.confirmedpassword {
		margin-bottom: 0;
	}
}




