/*
 * Define mosaic layout divisions and containers
 */

// the container which grows to height of contained tiles
header
, footer
, .tiles
{
	width: 100%;				// container fills page 100% width
	clear: both;
	overflow: hidden;			// we have floated contents.

	// sections are the major layout component which stack left-to-right
	section {
		float: left;
	}

	.full
	{
		width: 100%;
		clear: both;
	}
	.half
	, .one-2
	{
		width: 50%;
	}
	.one-quarter
	, .one-4
	{
		width: 25%;
	}
	.three-quarters
	, .three-4
	{
		width: 75%;
	}
	.one-third
	, .one-3
	{
		width: 33%;
	}
	.two-thirds
	, .two-3
	{
		width: 66%;
	}
	.one-fifth
	, .one-5
	{
		width: 20%;
	}
	.two-fifths
	, .two-5
	{
		width: 40%;
	}
	.three-fifths
	, .three-5
	{
		width: 60%;
	}
	.four-fifths
	, .four-5
	{
		width: 80%;
	}
}

