// mosaic variables

$fieldset-width: 100%;

$field-container-width: 100%;
$field-container-spacing: 0 0 1em;

$clickable-transition-speed: 0.3s;
$clickable-border-radius: 2px;
$clickable-border: 1px solid #ccc;
$clickable-background: #E18800;
$clickable-font-size: 1em;

$label-spacing-right: 1em;
$label-width: 30%;
$label-color: #000;
$label-font-size: 0.8em;

$element-font-size: 1em;
$element-width: 60%;

	$input-element-width: $element-width;
	$textarea-element-width: $element-width;
	$select-element-width: $element-width;

$element-border: 1px solid #D9D9D9;

$input-border-radius: 2px;

$disabled-element-border: none;
$disabled-element-width: $element-width;

$editable-element-padding: 0.2em 0.4em;
$clickable-element-padding: 0.5em 1em;