@mixin title-field {
	padding: 0;
	width: auto;

	dt, label {
		display: none;
	}

	input,
	dd
	{
		font-size: 1.6em;
		line-height: 1.8em;
		padding: 0;
		width: 100%;
		max-width: none;
	}
}
@mixin label-field {
	font-size: 1.2em;
	line-height: 1.4em;
	margin-right: 0.5em;
	color: #999;
	padding-bottom: 0.2em;
}
@mixin value-field {
	font-size: 1.3em;
	line-height: 1.4em;
	color: #333;
	padding: 0;
}
@mixin hide-labels {
	dt, label {
		display: none;
	}
}

@mixin clickable {
	cursor: pointer;
	border: none;
	border-radius: $clickable-border-radius;
	padding: $clickable-padding;
	background: $clickable-background;
	border: $clickable-border;
	font-size: $clickable-font-size;
	font-style: normal;
	color: #fff;
	text-shadow: none;
	box-shadow: none;
	width: auto;
	font-weight: normal;
	z-index: 0;
	min-height: 100%;
}
@mixin field-label {
	white-space: nowrap;
	overflow: visible;
	display: inline-block;
	float: left;
	margin-right: $label-spacing-right;
	min-width: $label-width;
	color: $label-color;
	font-size: $label-font-size;
	line-height: 2em;
	border-bottom: 1px dotted #eee;
}
// drop down a line and inline the content
@mixin inline-fields {
	clear: left;

	.field {
		float: left;
		white-space: nowrap;
	}
	dt, dd, label, input {
		float: left;
	}
	dt, label {
		margin-right: 1em;
	}
}
@mixin hide-placeholder {
	// used to hide placeholder text, e.g. if an input is disabled
	&::-webkit-input-placeholder {
		color: transparent;
	}

	&:-moz-placeholder { /* Firefox 18- */
		color: transparent;
	}

	&::-moz-placeholder {  /* Firefox 19+ */
		color: transparent;
	}

	&:-ms-input-placeholder {
		color: transparent;
	}

	&::input-placeholder {
		color: transparent;
	}

}