.ias-spinner {
    display: block;
    width: 100%;
    clear: both;
    text-align: center;
    position: relative;
    bottom: 0;

    img {
        min-width: 50px;
        min-height: 50px;
    }
}