// styles for the 'clickable list' widget

ul.list {
    display: none;

	li {
		cursor: pointer;

		form {
			margin: 0;
			padding: 0;
			cursor: pointer;

			fieldset {
				margin: 0;
				padding: 0;
			}

			div.field
			, dl.field
			{
				padding: 0;
				margin: 0 1em 0 0;
				float: left;
				clear: none;
				width: auto;
				line-height: 1em;

				label {
					@include label-field;
				}
				span {
					@include value-field;
				}
				input {
					@include value-field;
					width: auto;
				}
				input:not([value]) {
					visibility: hidden;

					&:after {
						content: "(none)";
						display: block;
					}
				}
			}
			// when we are in a list we always show field dl's not field divs
			&.editable
			, &.readonly
			{
				dl.field {
					display: block;
				}
				div.field {
					display: none;
				}
			}


			.CompositeField {
				margin-bottom: 0;
			}

		}
	}
}