// styles for the 'clickable list' widget

ul.list {


	li {
		cursor: pointer;
		opacity: 0.85;		// simple hover effect

		&:hover
		, &.hover {
			opacity: 1.0;
		}

		form {
			margin: 0;
			padding: 0;
			cursor: pointer;

			fieldset {
				margin: 0;
				padding: 0;
			}

			div.field
			, dl.field
			{
				padding: 0;
				margin: 0 1em 0 0;
				float: left;
				clear: none;
				width: auto;
				line-height: 1em;

				&.Title {
					@include title-field;
				}

				label {
					@include label-field;
				}
				span {
					@include value-field;
				}
				input {
					@include value-field;
					width: auto;
				}
				input:not([value]) {
					visibility: hidden;

					&:after {
						content: "(none)";
						display: block;
					}
				}
			}
			&.readonly {
				div.field
				, dl.field
				{
					&.Title {
						label,
						dt {
							display: none;
						}
					}
				}
			}



			.CompositeField {
				margin-bottom: 0;
			}

		}
	}
}