/*
 * Navigation element layout
 */

nav {
	display: table;
	font-family: $content-font-family;
	font-size: 1.6em;

	a {
		text-decoration: none;
		white-space: nowrap;
	}

	&.primary {
		background: $nav-background;
		color: $nav-color;
		display: block;
		z-index: 10000;
	}
	&.utility {
		color: #1a1a1a;
	}

	ul
	, li {
		list-style-type: none;
		display: table;
		overflow: visible;
	}
	ul {
		li {
			display: table-cell;
			line-height: 3em;
			float: left;

			a {
				display: block;
				padding: 0 2em;
			}
		}
	}
}