/*
 * Navigation element layout
 */

nav {
	display: table;

	&.primary {
		background: $nav-background;
		color: $nav-color;
	}
	&.utility {
		color: #1a1a1a;
	}

	ul
	, li {
		list-style-type: none;
		display: table-row;
		overflow: visible;
	}
	li {
		display: table-cell;
		line-height: 3em;
		float: left;

		a {
			display: block;
			padding: 0 2em;
		}
	}
}