// styles for the PostableExtension widget PostableWidget.ss

.postable-widget {
	&.closed {
		height: 40px;
		width: auto;
	}
	&.open {
		height: 140px;
	}
	form {
		line-height: 5em;
		width: 100%;

		.message {
			line-height: 1.2em;
		}

		fieldset {
			float: left;
			width: 70%;

			label {
				display: none;
			}
			.field {
				&.Title {
					float: left;
					width: 100%;
					display: block;

					input {
						min-width: 100%;
						font-size: 1.5em;
						border-radius: $input-border-radius 0px 0px $input-border-radius;
						padding-right: 50px;
					}
				}
				&.Body {
					float: left;
					width: 85%;

					textarea {
						min-width: 100%;
					}
				}
				&.Images {
					width: 15%;
					float: left;
					clear: none;
					padding-left: 0em;

					.ss-uploadfield-dropzone {
						width: 100%;
						height: 50%;
						border: none;
						margin: 0;
						padding: 0;
						box-shadow: none;
						background: none;

						div {
							@include clickable;

							font-size: 1.2em;
						}
					}
					.ss-uploadfield-fromcomputer {
						margin-top: 1em;

						div {
							@include clickable;
						}
						input {
							width: 30px;
							transform: none;
							position: static;
							font-size: 1em;
							opacity: 0;				/// we're hiding the actual button
						}
					}
					.ss-uploadfield-item-info {
						margin: 0;
						font-size: inherit;
						font-weight: normal;
					}
					.ui-corner-all {
						border-radius: 0;
						border: none;
					}
				}
			}

		}
	}
	.action-buttons {
		width: auto;
		float: left;
		text-align: left;
		margin: -2px 0;

		input {
			border-radius: 0px $button-border-radius $button-border-radius 0px;
		}
	}
}